<!DOCTYPE html>
<html>
	<head>
		<title>Error | Make Ur Wish</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
		<link href="/stylesheets/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css"></link>
		<style>

		body{
		     background: #248FB2;
		     color:white;
		     font-family: calibri;
		     text-align: center;
		     margin: 0 auto;
        }
        h1
        {
        	position: absolute;
        	top: 45%;
        	width:96%;
              
        }

		</style>
	</head>
	<body>
		<div class='container-fluid'>
			<h2>Make Ur Wish</h2>
			<h1> <i class="fa fa-warning"></i> Something went wrong. Please try again later.</h1>
			<footer>&copy;2014 MakeUrWish</footer>
		</div>

	</body>
	<script type="text/javascript">


	</script>
</html>

